/*Quitar todo formato de diseño predeterminado*/
*{
    margin: 0;
    padding: 0;
}

/*agregar el estilo(tipo de letra) que tendra todo el documento*/
body{
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    line-height: 1rem;
}
body::-webkit-scrollbar{
    display: none;
}
body::-webkit-scrollbar-thumb{
    background: #01bcf3;
}

p{
    margin-bottom: 1rem; /*agrgamos un espacio entre los parrafos para simular una salto de linea*/
}
h2{
    color: #fff;
    margin-bottom: 1.5rem;
    padding-top: 1rem;
}
a{
    color: #fff;
}
/*Definimos las secciones y los fondos de pantalla que tendran*/
.sect1{
    width: 100%;
    height: 100vh;
    background: url(img/imagen-1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-top: 2rem;
}
.sect1-container-info img{
    display: block;
    margin: auto;
    width: 100px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgb(255,255,255);
}
.sect1-container{
    margin: auto;
    width: 90%;
    height: 90vh;
    background: rgba(0, 0, 0, .7);
    border-radius: 20px;
    overflow: auto;
}
.sect1-container-info{
    width: 85%;
    margin: auto;
    text-align: center;
    color: #fff;
    padding-top: 1.5rem;
}
/*-------------------------------------------------------------------------------------------------------------------------------------------*/
.sect2{
    width: 100%;
    height: 100vh;
    background: url(img/imagen-2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.sect2{
    display: flex;
    align-items: center;
}
.sect2-container{
    display: block;
    margin: auto;
    width: 90%;
    height: 90vh;
    background: rgba(0, 0, 0, .7);
    border-radius: 20px;
}
.sect2-container-title{
    text-align: center;
    border-bottom: 1px solid red;
    margin: auto;
    width: 90%;
}
.sect2-container-proyectos{
    width: 90%;
    height: 75vh;
    margin: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin: auto;
    width: 95%;
    justify-content: center;
    overflow: auto;
}
.sect2-container-proyectos::-webkit-scrollbar{
    background: #ccc;
    width: 5px;
    height: 5px;
    border-radius: 5px;
}
.sect2-container-proyectos::-webkit-scrollbar-thumb{
    background: #01bcf3;
    border-radius: 5px;
}
.sect2-container-proyecto{
    text-align: center;
    display: inline-block;
    align-items: center;
    padding: 1rem;
    background: #fff;
    border-radius: 15px;
    width: 250px;
    height: 350px;
    margin: 10px;
}
.sect2-container-proyecto figure{
    margin-top: 2rem;
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 50%;
    transition: all 300ms ease-in-out;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
}
.sect2-container-proyecto figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-in-out;
}
.sect2-container-proyecto img:hover{
    transform: scale(1.3);
}
.sect2-container-proyecto a img{
    margin-top: 2rem;
    width: 60px;
    height: 35px;
    transition: all 500ms ease-in-out;
}
.sect2-container-proyecto a img:hover{
    transform: scale(1.3);
}
.sect3{
    display: flex;
    align-items: center;
}
.sect3-container{
    display: block;
    margin: auto;
    width: 90%;
    height: 90vh;
    background: rgba(0, 0, 0, .7);
    border-radius: 20px;
    overflow: auto;
}
.sect3-container::-webkit-scrollbar{
    background: #ccc;
    border-radius: 5px;
    width: 5px;
    height: 5px;
}
.sect3-container::-webkit-scrollbar-thumb{
    background: #01bcf3;
    border-radius: 5px;
}
.info{
    color: #fff;
    text-align: center;
    margin: 35px auto;
    width: 90%;
}
.sect3-container-habilidades{
    width: 90%;
    margin: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    width: 95%;
    justify-content: center;
}
.habilidad{
    width: 150px;
    height: 150px;
    margin: 10px;
    overflow: hidden;
    text-align: center;
}
.habilidad img{
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
/*--------------------------------------------------------------------------------------------------*/
.sect3{
    width: 100%;
    height: 100vh;
    background: url(img/imagen-3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/*Empezanos con el diseño resposive*/
@media only screen and (max-width:400px){ /* Diseño mobil*/
    .sect1{
        padding: 0;
    }
    .sect1-container-info img{
        margin: auto;
        display: block;
        width: 80px;
        height: 100px;
        border-radius: 50%;
    }
    .sect1-container{
        width: 100%;
        height: 100vh;
        border-radius: 15px;
        font-size: 1rem;
    }
    .sect1-container-info{
        width: 95%;
        margin: auto;
        color: #fff;
        text-align: center;
        line-height: 1rem;

    }
    .sect1-container::-webkit-scrollbar{
        background: #ccc;
        width: 5px;
        height: 5px;
        border-radius: 5px;
    }
    .sect1-container::-webkit-scrollbar-thumb{
        background: #01bcf3;
        border-radius: 5px;
    }
/*Sección de proyectos*/
    .sect2-container{
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, .7);
        overflow: auto;
    }
    .sect2-container-title{
        text-align: center;
        border-bottom: 1px solid red;
    }
    .sect2-container-proyecto figure{
        margin-top: 2rem;
        position: relative;
        width: 100%;
        height: 200px;
        border-radius: 50%;
        transition: all 300ms ease-in-out;
        overflow: hidden;
        cursor: pointer;
        box-shadow: 0px 0px 20px rgb(0, 0, 0);
    }
    .sect2-container-proyecto figure img{
        width: 100%;
        height: 100%;
        transition: all 500ms ease-in-out;
    }
    .sect2-container-proyecto img:hover{
        transform: scale(1.3);
    }
    .sect2-container-proyecto a img{
        margin-top: 2rem;
        width: 60px;
        height: 35px;
        transition: all 500ms ease-in-out;
    }
    .sect2-container-proyecto a img:hover{
        transform: scale(1.3);
    }
    .sect3{
        display: flex;
        align-items: center;
    }
    .sect3-container{
        display: block;
        margin: auto;
        width: 90%;
        height: 90vh;
        background: rgba(0, 0, 0, .7);
        border-radius: 20px;
        overflow: auto;
    }
    .sect3-container::-webkit-scrollbar{
        background: #ccc;
        width: 5px;
        height: 5px;
        border-radius: 5px;
    }
    .sect3-container::-webkit-scrollbar-thumb{
        background: #01bcf3;
        border-radius: 5px;
    }
    .info{
        color: #fff;
        text-align: center;
        margin: 35px auto;
        width: 90%;
    }
    .sect3-container-habilidades{
        width: 90%;
        margin: auto;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: auto;
        width: 95%;
        justify-content: center;
    }
    .habilidad{
        width: 150px;
        height: 150px;
        margin: 10px;
        overflow: hidden;
        text-align: center;
    }
    .habilidad img{
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}
@media only screen and (min-width: 800px){/* Diseño Estandar*/
    .sect1-container-info img{
        width: 120px;
        height: 140px;
    }
    .sect1-container{
        width: 85%;
        height: 90vh;
        overflow: auto;
    }
    .sect1-container-info{
        padding-top: 1.5rem;
        font-size: 1.1rem;
        line-height: 1.4rem;
    }
/*-------------------------------------------------------------------------------------------------------------------*/
    .sect2{
        display: flex;
        align-items: center;
    }
    .sect2-container{
        display: block;
        margin: auto;
        width: 90%;
        height: 90vh;
        background: rgba(0, 0, 0, .7);
        border-radius: 20px;
    }
    .sect2-container-title{
        text-align: center;
        border-bottom: 1px solid red;
        margin: auto;
        width: 90%;
    }
    .sect2-container-proyectos{
        width: 90%;
        height: 75vh;
        margin: auto;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        margin: auto;
        width: 95%;
        justify-content: center;
    }
    .sect2-container-proyecto{
        text-align: center;
        display: inline-block;
        align-items: center;
        padding: 1rem;
        background: #fff;
        border-radius: 15px;
        width: 250px;
        height: 350px;
        margin: 10px;
    }
    .sect2-container-proyectos::-webkit-scrollbar{
        background: #ccc;
        width: 5px;
        height: 5px;
        border-radius: 5px;
    }
    .sect2-container-proyectos::-webkit-scrollbar-thumb{
        background: #01bcf3;
        border-radius: 5px;
    }
    .sect3{
        display: flex;
        align-items: center;
    }
    .sect3-container{
        display: block;
        margin: auto;
        width: 90%;
        height: 90vh;
        background: rgba(0, 0, 0, .7);
        border-radius: 20px;
    }
    .info{
        color: #fff;
        text-align: center;
        margin: 35px auto;
        width: 90%;
    }
    .sect3-container-habilidades{
        width: 90%;
        margin: auto;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: auto;
        width: 95%;
        justify-content: center;
    }
    .habilidad{
        width: 150px;
        height: 150px;
        margin: 10px;
        overflow: hidden;
        text-align: center;
    }
    .habilidad img{
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}